<a href="https://colab.research.google.com/github/jryuuu22/Projects/blob/master/Copy_of_Eclipse_Analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
import kagglehub

path = kagglehub.dataset_download("sumitrodatta/nba-aba-baa-stats")

path_2 = kagglehub.dataset_download("jamiewelsh2/nba-player-salaries-2022-23-season")

path_3 = kagglehub.dataset_download("koki25ando/salary")

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.13), please consider upgrading to the latest version (1.0.0).
Downloading from https://www.kaggle.com/api/v1/datasets/download/sumitrodatta/nba-aba-baa-stats?dataset_version_number=53...

100%|██████████| 10.6M/10.6M [00:00<00:00, 190MB/s]

Extracting files...

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.13), please consider upgrading to the latest version (1.0.0).
Downloading from https://www.kaggle.com/api/v1/datasets/download/jamiewelsh2/nba-player-salaries-2022-23-season?dataset_version_number=2...

100%|██████████| 72.6k/72.6k [00:00<00:00, 47.0MB/s]

Extracting files...

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.13), please consider upgrading to the latest version (1.0.0).
Downloading from https://www.kaggle.com/api/v1/datasets/download/koki25ando/salary?dataset_version_number=4...

100%|██████████| 8.24k/8.24k [00:00<00:00, 11.7MB/s]

Extracting files...

In [3]:
os.listdir(path)

['Player Season Info.csv',
 'Team Totals.csv',
 'Per 36 Minutes.csv',
 'End of Season Teams (Voting).csv',
 'Team Summaries.csv',
 'Draft Pick History.csv',
 'Player Totals.csv',
 'Player Career Info.csv',
 'Team Abbrev.csv',
 'Per 100 Poss.csv',
 'All-Star Selections.csv',
 'Advanced.csv',
 'End of Season Teams.csv',
 'Player Play By Play.csv',
 'Player Shooting.csv',
 'Team Stats Per Game.csv',
 'Opponent Totals.csv',
 'Player Award Shares.csv',
 'Opponent Stats Per Game.csv',
 'Opponent Stats Per 100 Poss.csv',
 'Team Stats Per 100 Poss.csv',
 'Player Per Game.csv']

In [30]:
os.listdir(path_2)

['nba_salaries.csv', 'nba_2022-23_all_stats_with_salary.csv']

In [5]:
os.listdir(path_3)

['NBA_season1718_salary.csv']

In [31]:
contract_stats_df = pd.read_csv(os.path.join(path_2, "nba_2022-23_all_stats_with_salary.csv"))
contract_stats_df.head()

,Unnamed: 0,Player Name,Salary,Position,Age,Team,GP,GS,MP,FG,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,0,Stephen Curry,48070014,PG,34,GSW,56,56,34.7,10.0,...,12.5,31.0,5.8,2.0,7.8,0.192,7.5,0.1,7.5,4.7
1,1,John Wall,47345760,PG,32,LAC,34,3,22.2,4.1,...,17.1,27.0,-0.4,0.7,0.3,0.020,-0.8,-0.4,-1.2,0.1
2,2,Russell Westbrook,47080179,PG,34,LAL/LAC,73,24,29.1,5.9,...,18.4,27.7,-0.6,2.6,1.9,0.044,0.3,-0.1,0.2,1.2
3,3,LeBron James,44474988,PF,38,LAL,55,54,35.5,11.1,...,11.6,33.3,3.2,2.4,5.6,0.138,5.5,0.6,6.1,4.0
4,4,Kevin Durant,44119845,PF,34,BRK/PHO,47,47,35.6,10.3,...,13.4,30.7,4.7,2.1,6.8,0.194,6.0,1.2,7.1,3.9

In [32]:
salary_df = pd.read_csv(os.path.join(path_2, "nba_salaries.csv"))
salary_df.head()

,Unnamed: 0,Player Name,Salary,Position,Age,Team,GP,GS,MP,FG,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Player-additional
0,0,Stephen Curry,48070014,PG,34,GSW,56,56,34.7,10.0,...,0.7,5.4,6.1,6.3,0.9,0.4,3.2,2.1,29.4,curryst01
1,1,John Wall,47345760,PG,32,LAC,34,3,22.2,4.1,...,0.4,2.3,2.7,5.2,0.8,0.4,2.4,1.7,11.4,walljo01
2,2,Russell Westbrook,47080179,PG,34,LAL/LAC,73,24,29.1,5.9,...,1.2,4.6,5.8,7.5,1.0,0.5,3.5,2.2,15.9,westbru01
3,3,LeBron James,44474988,PF,38,LAL,55,54,35.5,11.1,...,1.2,7.1,8.3,6.8,0.9,0.6,3.2,1.6,28.9,jamesle01
4,4,Kevin Durant,44119845,PF,34,BRK/PHO,47,47,35.6,10.3,...,0.4,6.3,6.7,5.0,0.7,1.4,3.3,2.1,29.1,duranke01

In [33]:
salary2_df = pd.read_csv(os.path.join(path_3, 'NBA_season1718_salary.csv'))
salary2_df.head()

   Unnamed: 0          Player   Tm  season17_18
0           1   Stephen Curry  GSW   34682550.0
1           2    LeBron James  CLE   33285709.0
2           3    Paul Millsap  DEN   31269231.0
3           4  Gordon Hayward  BOS   29727900.0
4           5   Blake Griffin  DET   29512900.0

In [34]:
player_season_df = pd.read_csv(os.path.join(path, "Player Season Info.csv"))
player_season_df.head()

   season   lg              player  player_id   age team  pos  experience
0    1947  BAA      John Abramovic  abramjo01  27.0  PIT  NaN           1
1    1947  BAA       Chet Aubuchon  aubucch01  30.0  DTF  NaN           1
2    1947  BAA          Norm Baker  bakerno01  23.0  CHS  NaN           1
3    1947  BAA  Herschel Baltimore  baltihe01  25.0  STB  NaN           1
4    1947  BAA           John Barr   barrjo01  28.0  STB  NaN           1

In [35]:
player_season_df[player_season_df["player"] == "Kevin Durant"]

       season   lg        player  player_id   age team pos  experience
21130    2008  NBA  Kevin Durant  duranke01  19.0  SEA  SG           1
21741    2009  NBA  Kevin Durant  duranke01  20.0  OKC  SF           2
22304    2010  NBA  Kevin Durant  duranke01  21.0  OKC  SF           3
22917    2011  NBA  Kevin Durant  duranke01  22.0  OKC  SF           4
23495    2012  NBA  Kevin Durant  duranke01  23.0  OKC  SF           5
24057    2013  NBA  Kevin Durant  duranke01  24.0  OKC  SF           6
24667    2014  NBA  Kevin Durant  duranke01  25.0  OKC  SF           7
25267    2015  NBA  Kevin Durant  duranke01  26.0  OKC  SF           8
25881    2016  NBA  Kevin Durant  duranke01  27.0  OKC  SF           9
26466    2017  NBA  Kevin Durant  duranke01  28.0  GSW  PF          10
27088    2018  NBA  Kevin Durant  duranke01  29.0  GSW  SF          11
27772    2019  NBA  Kevin Durant  duranke01  30.0  GSW  SF          12
29123    2021  NBA  Kevin Durant  duranke01  32.0  BRK  PF          13
29843    2022  NBA  Kevin Durant  duranke01  33.0  BRK  PF          14
30631    2023  NBA  Kevin Durant  duranke01  34.0  2TM  PF          15
30632    2023  NBA  Kevin Durant  duranke01  34.0  BRK  PF          15
30633    2023  NBA  Kevin Durant  duranke01  34.0  PHO  PF          15
31316    2024  NBA  Kevin Durant  duranke01  35.0  PHO  PF          16
32050    2025  NBA  Kevin Durant  duranke01  36.0  PHO  PF          17
32732    2026  NBA  Kevin Durant  duranke01  37.0  HOU  SF          18

In [36]:
contract_stats_df[contract_stats_df["Player Name"] == "Kevin Durant"]

,Unnamed: 0,Player Name,Salary,Position,Age,Team,GP,GS,MP,FG,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
4,4,Kevin Durant,44119845,PF,34,BRK/PHO,47,47,35.6,10.3,...,13.4,30.7,4.7,2.1,6.8,0.194,6.0,1.2,7.1,3.9

In [37]:
salary_df[salary_df["Player Name"] == "Kevin Durant"]

,Unnamed: 0,Player Name,Salary,Position,Age,Team,GP,GS,MP,FG,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Player-additional
4,4,Kevin Durant,44119845,PF,34,BRK/PHO,47,47,35.6,10.3,...,0.4,6.3,6.7,5.0,0.7,1.4,3.3,2.1,29.1,duranke01

In [38]:
salary2_df[salary2_df["Player"] == "Kevin Durant"]

    Unnamed: 0        Player   Tm  season17_18
15          16  Kevin Durant  GSW   25000000.0

In [39]:
SALARY_CAPS = {
    2018: 99093000,
    2023: 123655000
}

In [40]:
df_meta = player_season_df.copy()

In [44]:
# Use salary_df because it contains player_id
df_2023 = salary_df.copy()

# Remove White Space
df_2023['Player Name'] = df_2023['Player Name'].str.strip()
df_meta['player'] = df_meta['player'].str.strip()

df_meta_2023 = df_meta[df_meta['season'] == 2023][
    ['player', 'player_id', 'experience', 'age']
]

df_2023 = pd.merge(
    df_2023,
    df_meta_2023,
    left_on='Player-additional',
    right_on='player_id',
    how='left'
)
df_2023['season'] = 2023
df_2023 = df_2023.drop_duplicates(subset=['player_id', 'season'])
df_2023['Salary_Cap_Percent'] = df_2023['Salary'] / SALARY_CAPS[2023]
df_2023['Salary_Log'] = np.log1p(df_2023['Salary'])
df_2023['Age_Squared'] = df_2023['age'] ** 2
df_2023['Is_Rookie_Scale'] = (df_2023['experience'] <= 4).astype(int)

In [45]:
print(df_2023.columns)
print(df_2023['player_id'].isna().mean())

Index(['Unnamed: 0', 'Player Name', 'Salary', 'Position', 'Age', 'Team', 'GP',
       'GS', 'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%',
       'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK',
       'TOV', 'PF', 'PTS', 'Player-additional', 'player', 'player_id',
       'experience', 'age', 'season', 'Salary_Cap_Percent', 'Salary_Log',
       'Age_Squared', 'Is_Rookie_Scale'],
      dtype='object')
0.0

In [46]:
# Create 2017/2018 Dataset
df_2018_salary  = salary2_df.copy()
df_2018_salary['season'] = 2018

df_meta_2018 = df_meta[df_meta['season'] == 2018][['player', 'player_id', 'experience', 'age']]

df_2018 = pd.merge(
    df_2018_salary,
    df_meta_2018,
    left_on = "Player",
    right_on = "player",
    how="left"
)
df_2018.rename(columns={'season17_18': 'Salary'}, inplace=True)

df_2018['Salary_Cap_Percent'] = df_2018['Salary'] / SALARY_CAPS[2018]
df_2018['Salary_Log'] = np.log1p(df_2018['Salary'])
df_2018['Age_Squared'] = df_2018['age'] ** 2
df_2018['Is_Rookie_Scale'] = (df_2018['experience'] <= 4).astype(int)

In [47]:
df_2018.head()

,Unnamed: 0,Player,Tm,Salary,season,player,player_id,experience,age,Salary_Cap_Percent,Salary_Log,Age_Squared,Is_Rookie_Scale
0,1,Stephen Curry,GSW,34682550.0,2018,Stephen Curry,curryst01,9.0,29.0,0.350000,17.361747,841.0,0
1,2,LeBron James,CLE,33285709.0,2018,LeBron James,jamesle01,15.0,33.0,0.335904,17.320639,1089.0,0
2,3,Paul Millsap,DEN,31269231.0,2018,Paul Millsap,millspa01,12.0,32.0,0.315554,17.258145,1024.0,0
3,4,Gordon Hayward,BOS,29727900.0,2018,Gordon Hayward,haywago01,8.0,27.0,0.300000,17.207597,729.0,0
4,5,Blake Griffin,DET,29512900.0,2018,Blake Griffin,griffbl01,8.0,28.0,0.297830,17.200338,784.0,0

In [48]:
df_2023.head()

,Unnamed: 0,Player Name,Salary,Position,Age,Team,GP,GS,MP,FG,...,Player-additional,player,player_id,experience,age,season,Salary_Cap_Percent,Salary_Log,Age_Squared,Is_Rookie_Scale
0,0,Stephen Curry,48070014,PG,34,GSW,56,56,34.7,10.0,...,curryst01,Stephen Curry,curryst01,14,34.0,2023,0.388743,17.688169,1156.0,0
1,1,John Wall,47345760,PG,32,LAC,34,3,22.2,4.1,...,walljo01,John Wall,walljo01,11,32.0,2023,0.382886,17.672988,1024.0,0
2,2,Russell Westbrook,47080179,PG,34,LAL/LAC,73,24,29.1,5.9,...,westbru01,Russell Westbrook,westbru01,15,34.0,2023,0.380738,17.667363,1156.0,0
5,3,LeBron James,44474988,PF,38,LAL,55,54,35.5,11.1,...,jamesle01,LeBron James,jamesle01,20,38.0,2023,0.359670,17.610438,1444.0,0
6,4,Kevin Durant,44119845,PF,34,BRK/PHO,47,47,35.6,10.3,...,duranke01,Kevin Durant,duranke01,15,34.0,2023,0.356798,17.602420,1156.0,0

In [49]:
# Align columns before concatenation
common_cols = [
    'player_id', 'season', 'Salary', 'Salary_Cap_Percent',
    'Salary_Log', 'age', 'Age_Squared',
    'experience', 'Is_Rookie_Scale'
]

final_2023 = df_2023[common_cols]
final_2018 = df_2018[common_cols]

combined_df = pd.concat([final_2018, final_2023], ignore_index=True)

In [22]:
print(combined_df.groupby("season").size())
print(combined_df.head())

season
2018    731
2023    593
dtype: int64
   player_id  season      Salary  Salary_Cap_Percent  Salary_Log   age  \
0  curryst01    2018  34682550.0            0.350000   17.361747  29.0
1  jamesle01    2018  33285709.0            0.335904   17.320639  33.0
2  millspa01    2018  31269231.0            0.315554   17.258145  32.0
3  haywago01    2018  29727900.0            0.300000   17.207597  27.0
4  griffbl01    2018  29512900.0            0.297830   17.200338  28.0

   Age_Squared  experience  Is_Rookie_Scale
0        841.0         9.0                0
1       1089.0        15.0                0
2       1024.0        12.0                0
3        729.0         8.0                0
4        784.0         8.0                0

In [23]:
def build_season_df(stats_df, meta_df, season_year, salary_col='Salary', player_name_col='Player Name'):
    df = stats_df.copy()

    # standardize names
    df[player_name_col] = df[player_name_col].astype(str).str.strip()
    meta = meta_df.copy()
    meta['player'] = meta['player'].astype(str).str.strip()

    # season-specific meta
    meta_season = meta[meta['season'] == season_year][['player', 'player_id', 'experience', 'age']]

    # merge meta
    df = df.merge(meta_season, left_on=player_name_col, right_on='player', how='left')

    # ---------- FIX: standardize age column ----------
    # If merge created age_x/age_y, prefer the meta-provided 'age' from player_season_df
    if 'age' not in df.columns:
        # try common alternatives
        for alt in ['Age', 'age_y', 'age_x']:
            if alt in df.columns:
                df['age'] = df[alt]
                break

    # if still missing, create a null column (so code doesn't crash)
    if 'age' not in df.columns:
        df['age'] = np.nan
    # -----------------------------------------------

    # clean experience
    df['experience'] = df['experience'].fillna(1)

    # dedupe
    df = df.drop_duplicates(subset=[player_name_col])

    # position one-hot if present
    if 'Position' in df.columns:
        df['Position'] = df['Position'].apply(lambda x: str(x).split('-')[0])
        pos_dummies = pd.get_dummies(df['Position'], prefix='Pos')
        df = pd.concat([df, pos_dummies], axis=1)

    # salary normalization
    cap = SALARY_CAPS[season_year]
    df['season'] = season_year
    df['Salary_Cap_Percent'] = df[salary_col] / cap
    df['Salary_Log'] = np.log1p(df[salary_col])

    # contract proxy flags
    df['Is_Rookie_Scale'] = (df['experience'] <= 4).astype(int)

    # age curve
    df['Age_Squared'] = df['age'] ** 2

    # Add contract-type proxies
    df['Is_Max_Proxy'] = (df['Salary_Cap_Percent'] >= 0.25).astype(int)   # tune threshold
    df['Is_Min_Proxy'] = (df['Salary_Cap_Percent'] <= 0.02).astype(int)


    #Add availability/role features
    df['Starter_Proxy'] = (df['gs'] / df['g']).fillna(0)
    df['Minutes_Per_Game'] = (df['mp'] / df['g']).replace([np.inf, -np.inf], np.nan)

    return df

In [24]:
# build 2023 dataframe
df_2023_full = build_season_df(
    stats_df=contract_stats_df,
    meta_df=player_season_df,
    season_year=2023,
    salary_col='Salary',
    player_name_col='Player Name'
)

In [25]:
advanced_df = pd.read_csv(os.path.join(path, "Advanced.csv"))
advanced_df.head()

adv_2018 = advanced_df[advanced_df['season'] == 2018].copy()
adv_2018.rename(columns={'player': 'Player Name'}, inplace=True)

# merge in salary (name-based; best effort)
sal_2018 = salary2_df.copy()
sal_2018['Player'] = sal_2018['Player'].astype(str).str.strip()
sal_2018.rename(columns={'Player': 'Player Name', 'season17_18': 'Salary'}, inplace=True)

adv_2018['Player Name'] = adv_2018['Player Name'].astype(str).str.strip()

adv_2018 = adv_2018.merge(sal_2018[['Player Name', 'Salary']], on='Player Name', how='inner')

In [26]:
df_2018_full = build_season_df(
    stats_df=adv_2018,
    meta_df=player_season_df,
    season_year=2018,
    salary_col='Salary',
    player_name_col='Player Name'
)