<a href="https://colab.research.google.com/github/jryuuu22/Projects/blob/master/Eclipse_Analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import os

In [ ]:
import kagglehub

path = kagglehub.dataset_download("sumitrodatta/nba-aba-baa-stats")

path_2 = kagglehub.dataset_download("jamiewelsh2/nba-player-salaries-2022-23-season")

path_3 = kagglehub.dataset_download("koki25ando/salary")

Using Colab cache for faster access to the 'nba-aba-baa-stats' dataset.
Using Colab cache for faster access to the 'nba-player-salaries-2022-23-season' dataset.
Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.13), please consider upgrading to the latest version (0.4.2).
Downloading from https://www.kaggle.com/api/v1/datasets/download/koki25ando/salary?dataset_version_number=4...

100%|██████████| 8.24k/8.24k [00:00<00:00, 15.3MB/s]

Extracting files...

In [ ]:
os.listdir(path)

['Advanced.csv',
 'Player Season Info.csv',
 'Player Career Info.csv',
 'Player Shooting.csv',
 'Opponent Stats Per Game.csv',
 'Draft Pick History.csv',
 'Player Totals.csv',
 'Opponent Stats Per 100 Poss.csv',
 'Per 100 Poss.csv',
 'Team Summaries.csv',
 'Player Per Game.csv',
 'All-Star Selections.csv',
 'End of Season Teams (Voting).csv',
 'Player Play By Play.csv',
 'End of Season Teams.csv',
 'Team Stats Per 100 Poss.csv',
 'Per 36 Minutes.csv',
 'Opponent Totals.csv',
 'Team Abbrev.csv',
 'Player Award Shares.csv',
 'Team Totals.csv',
 'Team Stats Per Game.csv']

In [ ]:
os.listdir(path_2)

['nba_2022-23_all_stats_with_salary.csv', 'nba_salaries.csv']

In [ ]:
os.listdir(path_3)

['NBA_season1718_salary.csv']

In [ ]:
contract_stats_df = pd.read_csv(os.path.join(path_2, "nba_2022-23_all_stats_with_salary.csv"))
contract_stats_df.head()

,Unnamed: 0,Player Name,Salary,Position,Age,Team,GP,GS,MP,FG,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,0,Stephen Curry,48070014,PG,34,GSW,56,56,34.7,10.0,...,12.5,31.0,5.8,2.0,7.8,0.192,7.5,0.1,7.5,4.7
1,1,John Wall,47345760,PG,32,LAC,34,3,22.2,4.1,...,17.1,27.0,-0.4,0.7,0.3,0.020,-0.8,-0.4,-1.2,0.1
2,2,Russell Westbrook,47080179,PG,34,LAL/LAC,73,24,29.1,5.9,...,18.4,27.7,-0.6,2.6,1.9,0.044,0.3,-0.1,0.2,1.2
3,3,LeBron James,44474988,PF,38,LAL,55,54,35.5,11.1,...,11.6,33.3,3.2,2.4,5.6,0.138,5.5,0.6,6.1,4.0
4,4,Kevin Durant,44119845,PF,34,BRK/PHO,47,47,35.6,10.3,...,13.4,30.7,4.7,2.1,6.8,0.194,6.0,1.2,7.1,3.9

In [ ]:
salary_df = pd.read_csv(os.path.join(path_2, "nba_salaries.csv"))
salary_df.head()

,Unnamed: 0,Player Name,Salary,Position,Age,Team,GP,GS,MP,FG,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Player-additional
0,0,Stephen Curry,48070014,PG,34,GSW,56,56,34.7,10.0,...,0.7,5.4,6.1,6.3,0.9,0.4,3.2,2.1,29.4,curryst01
1,1,John Wall,47345760,PG,32,LAC,34,3,22.2,4.1,...,0.4,2.3,2.7,5.2,0.8,0.4,2.4,1.7,11.4,walljo01
2,2,Russell Westbrook,47080179,PG,34,LAL/LAC,73,24,29.1,5.9,...,1.2,4.6,5.8,7.5,1.0,0.5,3.5,2.2,15.9,westbru01
3,3,LeBron James,44474988,PF,38,LAL,55,54,35.5,11.1,...,1.2,7.1,8.3,6.8,0.9,0.6,3.2,1.6,28.9,jamesle01
4,4,Kevin Durant,44119845,PF,34,BRK/PHO,47,47,35.6,10.3,...,0.4,6.3,6.7,5.0,0.7,1.4,3.3,2.1,29.1,duranke01

In [ ]:
salary2_df = pd.read_csv(os.path.join(path_3, 'NBA_season1718_salary.csv'))
salary2_df.head()

   Unnamed: 0          Player   Tm  season17_18
0           1   Stephen Curry  GSW   34682550.0
1           2    LeBron James  CLE   33285709.0
2           3    Paul Millsap  DEN   31269231.0
3           4  Gordon Hayward  BOS   29727900.0
4           5   Blake Griffin  DET   29512900.0

In [ ]:
player_season_df = pd.read_csv(os.path.join(path, "Player Season Info.csv"))
player_season_df.head()

   season   lg              player  player_id   age team  pos  experience
0    1947  BAA      John Abramovic  abramjo01  27.0  PIT  NaN           1
1    1947  BAA       Chet Aubuchon  aubucch01  30.0  DTF  NaN           1
2    1947  BAA          Norm Baker  bakerno01  23.0  CHS  NaN           1
3    1947  BAA  Herschel Baltimore  baltihe01  25.0  STB  NaN           1
4    1947  BAA           John Barr   barrjo01  28.0  STB  NaN           1

In [ ]:
player_season_df[player_season_df["player"] == "Kevin Durant"]

       season   lg        player  player_id   age team pos  experience
21130    2008  NBA  Kevin Durant  duranke01  19.0  SEA  SG           1
21741    2009  NBA  Kevin Durant  duranke01  20.0  OKC  SF           2
22304    2010  NBA  Kevin Durant  duranke01  21.0  OKC  SF           3
22917    2011  NBA  Kevin Durant  duranke01  22.0  OKC  SF           4
23495    2012  NBA  Kevin Durant  duranke01  23.0  OKC  SF           5
24057    2013  NBA  Kevin Durant  duranke01  24.0  OKC  SF           6
24667    2014  NBA  Kevin Durant  duranke01  25.0  OKC  SF           7
25267    2015  NBA  Kevin Durant  duranke01  26.0  OKC  SF           8
25881    2016  NBA  Kevin Durant  duranke01  27.0  OKC  SF           9
26466    2017  NBA  Kevin Durant  duranke01  28.0  GSW  PF          10
27088    2018  NBA  Kevin Durant  duranke01  29.0  GSW  SF          11
27772    2019  NBA  Kevin Durant  duranke01  30.0  GSW  SF          12
29123    2021  NBA  Kevin Durant  duranke01  32.0  BRK  PF          13
29843    2022  NBA  Kevin Durant  duranke01  33.0  BRK  PF          14
30631    2023  NBA  Kevin Durant  duranke01  34.0  2TM  PF          15
30632    2023  NBA  Kevin Durant  duranke01  34.0  BRK  PF          15
30633    2023  NBA  Kevin Durant  duranke01  34.0  PHO  PF          15
31316    2024  NBA  Kevin Durant  duranke01  35.0  PHO  PF          16
32050    2025  NBA  Kevin Durant  duranke01  36.0  PHO  PF          17
32732    2026  NBA  Kevin Durant  duranke01  37.0  HOU  SF          18

In [ ]:
contract_stats_df[contract_stats_df["Player Name"] == "Kevin Durant"]

,Unnamed: 0,Player Name,Salary,Position,Age,Team,GP,GS,MP,FG,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Player-additional
4,4,Kevin Durant,44119845,PF,34,BRK/PHO,47,47,35.6,10.3,...,0.4,6.3,6.7,5.0,0.7,1.4,3.3,2.1,29.1,duranke01

In [ ]:
salary_df[salary_df["Player Name"] == "Kevin Durant"]

,Unnamed: 0,Player Name,Salary,Position,Age,Team,GP,GS,MP,FG,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Player-additional
4,4,Kevin Durant,44119845,PF,34,BRK/PHO,47,47,35.6,10.3,...,0.4,6.3,6.7,5.0,0.7,1.4,3.3,2.1,29.1,duranke01

In [ ]:
salary2_df[salary2_df["Player"] == "Kevin Durant"]

    Unnamed: 0        Player   Tm  season17_18
15          16  Kevin Durant  GSW   25000000.0